.personIcon {
    padding-right: 4px;
    color: #64b7cc;
}

.arrowDown{
    
    color: #2979ff;
    background-color:white;
    font-size: 20px;
    border-radius: 50%;
   
}

.copyIcon{
     
    color: #64b7cc;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.buttonCopy{
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}