.closeIcon{
     
    color: rgba(255, 0, 0, 0.575);
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.185);
}

.deleteIcon{
    color: rgba(255, 0, 0, 0.575);
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.185);
}

.editIcon{
   color: white;
   background-color: transparent;
   cursor: pointer;
   font-size: 20px;
   border-radius: 50%;
   box-shadow:0 0 20px rgba(0, 0, 0, 0.185);
}