

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-secondary);
    color: white;
}

.welcome{
    font-size: 3rem;
  margin-bottom: 2rem;
  color:#28B4E9;
}


.buttonSignUp {
    padding: 10px;
    margin-top: 5px;
    background-color: #004E84;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo do botão de signup quando hover */
  .buttonSignUp:hover {
    background-color: #64B7CC;
    /* Adicione uma transição suave para a mudança de cor */
    transition: background-color 1s ease;
  }
  
  /* Estilo do botão de signup quando desabilitado */
  .buttonSignUp:disabled {
    background-color: #B8DB32;
    cursor: not-allowed;
  }
  