

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
    background-color: var(--color-secondary);
    color: white;
}

.welcome{
    font-size: 48px;
  margin-bottom: 8px;
  color:#28B4E9;
}
.span{
  margin-bottom: 20px;
}

.buttonSignUp {
    padding: 10px;
    margin-top: 2px;
    
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo do botão de signup quando hover */
  .buttonSignUp:hover {
    color: #64B7CC;
    /* Adicione uma transição suave para a mudança de cor */
    transition: background-color 1s ease;
  }
  
  /* Estilo do botão de signup quando desabilitado */
  .buttonSignUp:disabled {
    background-color: #B8DB32;
    cursor: not-allowed;
  }
  