.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: auto 0;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tituloPrincipal {
  text-align: center;
  color: #28b4e9; 
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px;
}

.descricao {
  
  color: white;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 25px;
}

.subtitulo {
  text-align: center;
  color: #28b4e9;
  font-size: 24px;
  margin-bottom: 10px;
}

.lista {
  color: white;
  text-align: center;
  list-style: none;
  margin-left: 20px;
}

.lista-item {
  margin-bottom: 5px;
}

.textFuncionamento {
  text-align: center;
  color: white;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}


@media screen and (max-width: 768px){

  .container{
    margin-top: -4rem;
  }
  .image{
    width: 280px;
    
  }
}