.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto 0;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tituloPrincipal {
  text-align: center;
  color: #28b4e9;
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px;
}

.descricao {
  max-width: 1141px;
  color: white;
  line-height: 1.6;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
text-align: initial;
  padding: 10px;
}

.subtitulo {
  text-align: center;
  color: #28b4e9;
  font-size: 24px;
  margin-bottom: 10px;
}

.lista {
  color: white;
  text-align: initial;
  margin-left: 20px;
  margin-right: 20px;
}

.lista-item {
  margin-bottom: 5px;
}

.textFuncionamento {
  text-align: initial;
  color: white;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  width: 81%;
  margin-bottom: 20px;
  max-width: 1400px;

}

@media screen and (max-width: 768px) {
  .container {
    margin-top: -4rem;
  }
  .image {
    margin-top: -1rem;
    width: 280px;
    margin-bottom: -2.5rem;
  }

  .descricao {
    font-size: 18px;
  }
}
