.header {
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.144);
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.headerh2 {
  color: #64b7cc;
  background-color: #ffffff;
  margin-right: auto;
  padding-left: 5px;
  padding-top: 7px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.nav {
  background-color: #ffffff;
}

.navList {
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navItem {
  background-color: #ffffff;
  margin: 0 1rem;

  transition: color 1s;
}
.navItem a {
  background-color: #ffffff;
  text-decoration: none;
  color: #253858;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.034);
}

.navItem a:hover {
  color: #64b7cc;
  transition: color 1s ease;
}
.homeIcon {
  font-size: 18px;
  align-items: center;
  flex-shrink: 0;
  color: #64b7cc;
  background-color: #ffffff;
}

.sobreMimIcon {
  font-size: 18px;
  align-items: center;
  flex-shrink: 0;
  color: #64b7cc;
  background-color: #ffffff;
}

.sobreProjeto {
  font-size: 18px;
  align-items: center;
  flex-shrink: 0;
  color: #64b7cc;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 4rem;
  }

  .logo {
    width: 15px; /* Tornando o logo um pouco menor */
    height: 15px;
  }

  .headerh2 {
    font-size: 8px; /* Tornando o texto do cabeçalho um pouco menor */
    padding-top: 4px;
  }

  .navList {
    margin-left: auto; /* Movendo a lista de navegação para a direita */
    font-size: 8px;
  }

  .navItem {
    margin: 0 0.5rem; /* Reduzindo a margem dos itens de navegação */
  }

  .homeIcon,
  .sobreMimIcon,
  .sobreProjeto {
    font-size: 10px; /* Tornando os ícones um pouco menores */
  }
}
