.footer{ background-color: #FFFFFF;
    color:#253858;
    padding: 2rem;
    display: flex;
    align-items: center;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.329); 
    
}

.h1{margin: auto;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
}


@media (max-width: 768px){
    .footer{
        display: none;
    }
    .h1{
        display: none;
    }
}