.taskListContainer {
  width: 70%;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.taskItem {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 4px;
  flex: 1;
  min-width: 200px; 
  margin-right: 15px;
  overflow: hidden;
  position: relative; 
}

.taskItem p {

  overflow: hidden; 
  text-overflow: ellipsis; 
}

.listTitle {
  width: 100%;
  
  color: #68D2DF;
  padding: 10px 0;
  font-size: 40px;
  text-align: center;
  
}

.titleTask {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}

.title {
  background-color: white;
  color: #0A459E;
  padding: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
  font-size: 25px;
}

.description {
  background-color: #68d1dfb0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  padding: 20px;
}
.taskNumber {
  position: absolute; 
  top: 0; 
  left: 0; 
  margin: 10px; 
  font-weight: bold;
  font-size: 18px;
  color: #0A459E;
  background-color: white;
  padding: 4px 8px; 
  border-radius: 4px;
}
.buttonEditTask {
  margin-top: 8px;
  width: 50px;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #0A459E;
}

.buttonEditTask:hover{
  background-color: #004E84;
    transition: background-color 1s ease;
}

.buttonDeleteTask {
  margin-top: 8px;
  width: 50px;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.buttonDeleteTask:hover{
  background-color: rgba(255, 0, 0, 0.418);
    transition: background-color 1s ease;
}

.buttonEditTask + .buttonDeleteTask {
  margin-left: 10px ;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .modal {
    max-width: 90%;
    top: 10%;
    left: 5px;
    right: 5px;
  }

  .formContainer {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
  }

  .formTitle {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .formLabel,
  .formLabeld {
    font-size: 14px;
    padding: 5px;
  }

  .formInput,
  .formInputd {
    font-size: 14px;
    padding: 6px;
  }

  .formInputd {
    height: 80px;
  }

  .formButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .divList {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
  }

  .buttonInitialPosition,
  .buttonModalPosition {
    top: 10px;
    right: 10px;
  }

  .taskListContainer {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .taskItem {
    flex-basis: calc(50% - 10px); /* Dois itens por linha com espaçamento */
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .listTitle {
    font-size: 30px;
  }

  .titleTask {
    font-size: 18px;
  }

  .title {
    padding: 15px;
    font-size: 20px;
  }

  .description {
    padding: 15px;
  }

  .taskNumber {
    font-size: 14px;
    padding: 2px 6px;
  }

  .buttonEditTask,
  .buttonDeleteTask {
    padding: 4px 8px;
    font-size: 14px;
  }

  .buttonGroup {
    margin-top: 8px;
  }
}